.DS_Store

/node_modules

.vscode/

/c++/exercises/001/a.out
/c++/exercises/002/a.out
/c++/exercises/003/a.out
/c++/exercises/004/a.out
/c++/exercises/005triangles/a.out
/c++/topics/a.out
/c++/a.out
/c/a.out
/c/run.sh
/c++/run.sh
/c/exercises/a.out